<figure class="kaiwa-img-right">
	<% if message.user.picture? %>
		<%= image_tag message.user.picture.url %>
	<% else %>
		<%= image_tag ("default.gif") %>
	<% end %>
	<figcaption class="kaiwa-img-description">
		<%= message.user.name %>
	</figcaption>
</figure>
<div class="kaiwa-text-left">
	<p class="kaiwa-text" data-read-flg="<%=message.id%>">
		<% if message.reads.count > 0 %>
			既読
		<% end %>
		<%= message.content %>
	</p>
</div><br><br>