<h2><%= @user.email %></h2>
<%= image_tag @user.picture.url if @user.picture? %>


<div class="form-group">
  <%= form_for (@user) do |f| %>
  	
  	<div>
      <%= f.label :名前 ,:class => "control-label"%><br>
      <%= f.text_field :name, autofocus: true , :class => "form-control"%>
    </div>

    <div>
      <%= f.label :ID,:class => "control-label"%><br>
      <%= f.text_field :line_id, autofocus: true, :class => "form-control"%>
    </div>

    <div>
      <%= f.label :プロフィール画像,:class => "control-label"%><br>
      <%= f.file_field :picture%>
    </div>

  	<div>
      <%= f.submit "更新", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
