<!-- 友達をIDで探す -->
<%= form_tag search_path do %>
  <div class= "form-group">
    <label>LineIDで友達を探す</label>
    <%= text_field_tag :line_id%>
    <%= submit_tag '検索' %>
  </div>
<% end %>

  <!-- 友達から探す -->
<% if @users.count > 0 %>
  <%= search_form_for @q do |f| %>
    <div class= "form-group">
      <%= f.label :友達の名前 %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  まずはID検索で友達を追加しよう！
<% end %>

<div>
  <p>
    友達 ( <%= current_user.following.count %> )
  </p>
</div>

<% @users.each do |user| %>
  <div class = "list-group">
    <button type="button" class="list-group-item"><%= link_to user.name, user %></button>
  </div>
<% end %>


