<div>
  <!-- 友人をIDで探す -->
  <%= form_tag search_path do %>
    <label>LineIDで友達を探す</label>
    <%= text_field_tag :line_id%>
    <%= submit_tag '検索' %>
  <% end %>
</div>

<div>
  <!-- 友人から探す -->
  <%= search_form_for @q do |f| %>

    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    <%= f.submit %>

  <% end %>
</div>

<div class="stats">
  友達
  <strong id="following" class="stat">
    <%= current_user.following.count %>
  </strong>
</div>

<div>
  <% @users.each do |user| %>
    <%= link_to user.name, user %>
  <% end %>
</div>


