<div class="stats">
  <a href="<%= following_user_path(current_user) %>">
    <strong id="following" class="stat">
      <%= current_user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(current_user) %>">
    <strong id="followers" class="stat">
      <%= current_user.followers.count %>
    </strong>
    followers
  </a>
</div>
<div>
  <% @users.each do |user| %>
    <%= link_to user.name, user %>
  <% end %>
</div>

<div>
  <!-- 友人をサーチする -->
  <%= search_form_for @q do |f| %>

    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    <%= f.submit %>

  <% end %>
</div>
<p><%= @user %></p>

