<h1>
	<% @room.users.where.not(id: current_user.id).each do |user| %>
		<%= user.name + "  "%>
	<% end %>
</h1>

<%= link_to "招待", new_room_room_member_path(params[:id]) %>

<div class="panel panel-default">
  <div class="panel-body" id="messages" data-room= '<%= @room.id%>'>
    <%= render partial: 'messages/message', collection: @room.messages%>
  </div>
</div>

<%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>