<h4>
	<% @room.users.where.not(id: current_user.id).each do |user| %>
		<%= user.name + "  "%>
	<% end %>
</h4>

<div class="text-right">
	<%= link_to "æ‹›å¾…ã™ã‚‹", new_room_room_member_path(params[:id]) %>
</div>

  <div class="kaiwa" id="messages" data-room= '<%= @room.id%>' data-user='<%= current_user.id%>'>
  	<% @room.messages.each do |message| %>
  		<% if message.user == current_user %>
  			<%= render partial: 'messages/current_user_message', locals: { message: message} %>
  		<% else %>
  			<%= render partial: 'messages/other_users_message' , locals: { message: message}%>
  		<% end %>
  	<% end %>
  </div>

<%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>