<!DOCTYPE html>
<html>
  <head>
    <title>Chat3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= current_user.name %>　としてログインしています。
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "プロフィール編集", edit_user_path(current_user) %>
    <% else %>
      <%= link_to "サインアップ", new_user_registration_path %> |
      <%= link_to "ログイン", new_user_session_path %>
    <% end %><br>
    <%= link_to "友達", users_path, {:class=>"glyphicon glyphicon-user"}%>
    <%= link_to "トークルーム", rooms_path, {:class=>"glyphicon glyphicon-comment"} %>
    <%= yield %>

  </body>
</html>
